body {
    background-color: black;
    font-size: 32px;
}

h1 {
    color: white;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the container */
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #main_background {
        display: none;
    }
    /* Other styles for smaller screens */
}
